header {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: inset 1px;
  border-color: #002c13;
  background: -webkit-gradient(linear, left top, left bottom, from(#01a749), to(#066b32));
  background: linear-gradient(180deg, #01a749 0%, #066b32 100%);
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

header .icon {
  font-size: 2.5rem;
  margin: 4%;
}

header p {
  font-size: 1rem;
}

header .nav-container {
  width: 50%;
  height: 100%;
  margin-left: auto;
}

header .nav-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container .nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 2.5vh;
  border-bottom: 4px solid #820737;
  border-bottom: transparent;
  -webkit-transition: border-bottom 0.2s, opacity 0.2s;
  transition: border-bottom 0.2s, opacity 0.2s;
}

header .nav-container .nav-links a:hover {
  border-bottom: 4px solid #820737;
  opacity: 0.9;
}

header .nav-container .nav-links .navlink-active {
  border-bottom: 4px solid #820737;
}

header .nav-container-mobile {
  -webkit-animation: open-menu 0.8s;
          animation: open-menu 0.8s;
  width: 100%;
  z-index: 1;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#01a749), to(#066b32));
  background: linear-gradient(180deg, #01a749 0%, #066b32 100%);
}

@-webkit-keyframes open-menu {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes open-menu {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

header .nav-container-mobile .close-menu-icon {
  font-size: 2.3rem;
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

header .nav-container-mobile .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 70%;
}

header .nav-container-mobile .nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s, opacity 0.2s;
  transition: border-bottom 0.2s, opacity 0.2s;
}

header .nav-container-mobile .nav-links a:hover {
  border-bottom: 2px solid #820737;
  opacity: 0.9;
}

header .nav-container-mobile .nav-links .navlink-active {
  border-bottom: 2px solid #820737;
}

header .mobile-menu-icon {
  display: none;
  font-size: 2.5rem;
  color: white;
  margin: auto;
  margin-right: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header .logo {
    width: 60%;
  }
  header .nav-container .nav-links {
    display: none;
  }
  header .mobile-menu-icon {
    display: block;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
  -webkit-transition: height 1.5s;
  transition: height 1.5s;
}

.home-form-showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
}

.welcome-section {
  -webkit-animation: fade-in 1.5s ease-in-out;
          animation: fade-in 1.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .welcome-section {
    width: 90%;
  }
}

.welcome-section p {
  font-size: 1.3rem;
}

@media screen and (max-width: 400px) {
  .welcome-section p {
    font-size: 1rem;
  }
}

.welcome-section .start-button {
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  background-color: #066b32;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  border-width: 0px;
  outline-width: 0;
  -webkit-box-shadow: 0px 1px 4px black;
          box-shadow: 0px 1px 4px black;
  -webkit-transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

.welcome-section .start-button:hover {
  background-color: #01a749;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 4px 10px black;
          box-shadow: 0px 4px 10px black;
}

.welcome-section .start-button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

.welcome-section .start-button-off {
  -webkit-animation: fade-out 1.5s ease;
          animation: fade-out 1.5s ease;
  visibility: hidden;
}

.welcome-section .start-button-on {
  -webkit-animation: fade-in 1.5s ease-in-out;
          animation: fade-in 1.5s ease-in-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.info-section-form-closed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
      grid-template-areas: "header header" "subheader subheader" "explaination1 formula1" "explaination2 formula2";
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  width: 50%;
  height: 110vh;
  margin-top: 0%;
}

.info-section-form-closed h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.info-section-form-closed .subheader {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subheader;
}

.info-section-form-closed .explaination1 {
  font-size: 1rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: explaination1;
}

.info-section-form-closed .explaination2 {
  font-size: 1rem;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: explaination2;
}

.info-section-form-closed .formula1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: formula1;
}

.info-section-form-closed .formula2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: formula2;
}

.info-section-form-open {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
      grid-template-areas: "header header" "subheader subheader" "explaination1 formula1" "explaination2 formula2";
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  width: 50%;
  height: 110vh;
  margin-top: 30%;
}

.info-section-form-open h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.info-section-form-open .subheader {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subheader;
}

.info-section-form-open .explaination1 {
  font-size: 1rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: explaination1;
}

.info-section-form-open .explaination2 {
  font-size: 1rem;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: explaination2;
}

.info-section-form-open .formula1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: formula1;
}

.info-section-form-open .formula2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: formula2;
}

@media screen and (max-width: 1200px) {
  .info-section-form-closed,
  .info-section-form-open {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .info-section-form-closed,
  .info-section-form-open {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "header" "subheader" "explaination1" "formula1" "explaination2" "formula2";
  }
}

@media screen and (max-height: 640px) {
  .info-section-form-closed,
  .info-section-form-open {
    height: 180vh;
  }
}

.footer {
  border-top: lightslategrey solid 1px;
}

.footer p {
  font-size: 0.7em;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
  -webkit-transition: height 1.5s;
  transition: height 1.5s;
}

.home-form-showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
}

.welcome-section {
  -webkit-animation: fade-in 1.5s ease-in-out;
          animation: fade-in 1.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .welcome-section {
    width: 90%;
  }
}

.welcome-section p {
  font-size: 1.3rem;
}

@media screen and (max-width: 400px) {
  .welcome-section p {
    font-size: 1rem;
  }
}

.welcome-section .start-button {
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  background-color: #066b32;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  border-width: 0px;
  outline-width: 0;
  -webkit-box-shadow: 0px 1px 4px black;
          box-shadow: 0px 1px 4px black;
  -webkit-transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

.welcome-section .start-button:hover {
  background-color: #01a749;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 4px 10px black;
          box-shadow: 0px 4px 10px black;
}

.welcome-section .start-button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

.welcome-section .start-button-off {
  -webkit-animation: fade-out 1.5s ease;
          animation: fade-out 1.5s ease;
  visibility: hidden;
}

.welcome-section .start-button-on {
  -webkit-animation: fade-in 1.5s ease-in-out;
          animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 80%;
}

.main-form .form-input {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8%;
  padding-left: 15%;
  padding-right: 15%;
}

.main-form .form-input input {
  width: 30%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 3px solid #004b21;
  color: black;
  outline-width: 0;
  -webkit-box-shadow: 0px 1px 2px black;
          box-shadow: 0px 1px 2px black;
  -webkit-transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

.main-form .form-input input::-webkit-input-placeholder {
  color: black;
}

.main-form .form-input input:-ms-input-placeholder {
  color: black;
}

.main-form .form-input input::-ms-input-placeholder {
  color: black;
}

.main-form .form-input input::placeholder {
  color: black;
}

.main-form .form-input input:hover {
  background-color: #01a749;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 4px 6px black;
          box-shadow: 0px 4px 6px black;
}

.main-form .submit-button {
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 auto;
  color: white;
  background-color: #066b32;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  border-width: 0px;
  outline-width: 0;
  -webkit-box-shadow: 0px 1px 4px black;
          box-shadow: 0px 1px 4px black;
  -webkit-transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

.main-form .submit-button:hover {
  background-color: #01a749;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 4px 10px black;
          box-shadow: 0px 4px 10px black;
}

.main-form .submit-button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

@media screen and (max-width: 412px) {
  .main-form .form-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    height: 30%;
  }
  .main-form .form-input input {
    font-size: 1rem;
    width: 90%;
    height: 30px;
  }
  .main-form .submit-button {
    margin-block: 10px;
  }
}

#user-input-page {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 50%;
}

#user-input-page .back-button {
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  background-color: #820737;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border-width: 0px;
  outline-width: 0;
  -webkit-box-shadow: 0px 1px 4px black;
          box-shadow: 0px 1px 4px black;
  -webkit-transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s;
  transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

#user-input-page .back-button:hover {
  background-color: #cb014f;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 4px 10px black;
          box-shadow: 0px 4px 10px black;
}

#user-input-page .back-button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

@media screen and (max-width: 768px) {
  #user-input-page {
    width: 90%;
  }
}

@media screen and (max-width: 412px) {
  #user-input-page {
    font-size: 1.1rem;
  }
}

.results-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 110vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
/*# sourceMappingURL=app.css.map */