.footer {
  display: grid;
  border-top: rgba(16, 123, 139, 0.1) solid 1px;

  p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7rem;
  }

  .git-icon {
    color: $color-secondary-0-0;
    opacity: 0.8;
  }
}
