header {
  height: 8vh;
  display: flex;
  border-bottom: inset 1px;

  .logo {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .icon {
    font-size: 2.5em;
    margin: 4%;
  }

  nav {
    width: 50%;
    height: 100%;
    margin-left: auto;
  }

  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1rem;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.5s;
      transition: opacity 0.3s;
    }

    a:hover {
      border-bottom: 1px solid;
      opacity: 0.9;
    }

    .navlink-active {
      border-bottom: 1px solid;
    }
  }
}
