$color-primary-0: #83e85a; // Main Primary color */
$color-primary-1: #97fb6f;

$color-secondary-2-0: #107a8b; // Main Secondary color (2) */
$color-secondary-2-1: #1190a3;

$color-text-contrast: black;
$color-text-2: white;

// :export {
//   colorSecondary20: $color-secondary-2-0;
// }
