$color-primary-0: #2e8b56; // Main Primary color */
$color-primary-1: #7cc39b;
$color-primary-2: #4da573;
$color-primary-3: #197541;
$color-primary-4: #055829;

$color-secondary-1-0: #c38641; // Main Secondary color (1) */
$color-secondary-1-1: #ffd4a2;
$color-secondary-1-2: #e7ae6c;
$color-secondary-1-3: #a46823;
$color-secondary-1-4: #7b4507;

$color-secondary-2-0: #a93863; // Main Secondary color (2) */
$color-secondary-2-1: #e390b0;
$color-secondary-2-2: #c85e87;
$color-secondary-2-3: #8e1e49;
$color-secondary-2-4: #6a062d;
