// * {
//   box-sizing: content-box;
//   padding: 0;
//   margin: 0;
// }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  transition: height 1.5s;
  // background-color: yellow;
}

.home-form-showing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  // background-color: yellow;
}

.welcome-section {
  animation: fade-in 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 50%;

  // border: 2px black dashed;

  p {
    font-size: 1.3em;
  }

  $start-button-width: 200px;
  $start-button-height: 50px;

  .start-button {
    cursor: pointer;
    font-size: 1.3rem;
    color: $color-text-contrast;
    background-color: $color-primary-0;
    width: $start-button-width;
    height: $start-button-height;
    border-radius: 6px;
    border-width: 0px;
    outline-width: 0;
    box-shadow: 0px 1px 4px black;
    transition: background-color 0.2s ease-out, box-shadow 0.2s, transform 0.2s;
  }

  .start-button:hover {
    background-color: $color-primary-1;
    transform: translate(0px, -2px);
    box-shadow: 0px 4px 10px black;
  }

  .start-button:active {
    transition: none;
    transform: translate(0px, 2px);
  }

  .start-button-off {
    animation: fade-out 1.5s ease;
    visibility: hidden;
  }

  .start-button-on {
    animation: fade-in 1.5s ease-in-out;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(0px, 30px);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
