@import "./header";
@import "./welcomeSection";
@import "./infoSection";
@import "./footer";
@import "./mainForm";
@import "./userInputPage";
@import "./resultsPage";
@import "./aboutPage";
@import "./themeColors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//implement later maybe for mobile menu 300px
// body {
//   overflow-y: hidden;
//   pointer-events: none;
// }

.App {
  text-align: center;
}
