@import "./header";
@import "./welcomeSection";
@import "./infoSection";
@import "./footer";
@import "./mainForm";
@import "./userInputPage";
@import "./resultsPage";
@import "./themeColors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
